<%- include('partials/head') %>
    <%- include('partials/nav') %>

        <h1>APIE MANE</h1>

        <h2>Mano vardas Rokas</h2>
        <h3>Man yra 27 metai </h3>
        <h4>El.Pastas ROKASRA@GMAIL>COM</h4>

        </body>

        </html>