<header>
    <div class="container">
        <nav class="main-nav">
            <a href="/" class="navLink">Home</a>
            <!-- <a href="/about" class="navLink">About</a>
            <a href="/contact" class="navLink">Contact Us</a> -->
            <a href="/news" class="navLink">News</a>
        </nav>
    </div>
</header>